.container {
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/register.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.routerButton {
    background-color: #4CAF50;
    /* Green background */
    border: none;
    /* Remove border */
    color: white;
    /* White text */
    padding: 15px 32px;
    /* Some padding */
    text-align: center;
    /* Center align text */
    text-decoration: none;
    /* Remove underline */
    display: inline-block;
    /* Make the button inline */
    font-size: 16px;
    /* Increase font size */
    margin: 4px 2px;
    /* Add some margin */
    cursor: pointer;
    /* Add a pointer cursor on hover */
    border-radius: 8px;
    /* Add rounded corners */
    box-shadow: 0 4px #999;
    /* Add a subtle drop shadow */
    transition: all 0.2s ease-in-out;
    /* Add a smooth transition on hover */
}

/* Change background color on hover */
.routerButton:hover {
    background-color: #3e8e41;
}

/* Change text color on active */
.routerButton:active {
    color: #ffd700;
}