.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.attackersTable,
.defendersTable {
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 45%;
    margin: 5px;
    box-shadow: 0 4px #999;
    border-radius: 8px;
}

.attackersTable th,
.defendersTable th {
    padding: 12px 150px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.attackersTable td,
.defendersTable td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}